html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    height: 100%;
    width: 100%;

}

#container {
    width: 800px;
    height: 850px;
    background-color: #b84a4a;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;

}

.grids {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 800px;
    height: 800px;
    color: white;
    margin-top: 0;
    height: 50px;
    font-size: 3em;
    text-align: center;
}

.cell {
    background-color: #834eab;
    box-sizing: border-box;
}

.but{
    display: block;
    margin: 0 auto;
    font-size: 2em;
    background-color: #9f6dc8;
    border: 0px;
    width: 800px;
}